$main-font: 'JetBrains Mono', monospace;
$second-font: 'Jost', sans-serif;
$main-color: #ad00ff;
$font-color: #fff;

//vars for adaptive

$breakpoint-mobile: 425px;
$breakpoint-tablet: 980px;
$breakpoint-laptop: 1190px;

// number vars

$main-font-size: 1.25rem;
$main-title-font-size: 1.5rem;
